html {
    overflow-y: scroll;
}

body {
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.7;
    font-family: "Poppins", sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    color: currentColor;
}

h1 {
    font-weight: bold;
    font-size: 5.7rem;
    letter-spacing: -5px;
    text-align: center;
    line-height: 5.7rem;
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 8.6rem;
}

.header {
    width: 100%;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.flex {
    display: flex;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.responsive-container {
    display: flex;
    width: 100%;
    max-width: 1255px;
    align-self: center !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-contacts-container {
    color: rgb(120, 120, 120);
}

.header-flag-icon {
    display: flex;
    height: min-content;
}

.header-contact-icon {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.header-contact-icon svg {
    fill: currentColor;
    width: 15px;
    height: 15px;
}

.header-social-icons {
    display: flex;
}

.header-redirects {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.header-actions {
    display: flex;
    gap: 32px;
}


.header-actions-container {
    display: flex;
    align-items: center;
    gap: 32px;
    font-weight: 380;
}

.hide-on-desktop {
    display: none;
}

.header-action-icon {
    color: #f06060;
}

/* Mobile styles */
@media (max-width: 768px) {
    .hide-on-desktop {
        display: block;
    }

    .responsive-container {
        flex-wrap: wrap;
    }

    .header-actions-container {
        display: none;
    }

    #header-menu-toggle:checked+.header-actions-container {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

/* More little screens */
@media (max-width: 478px) {
    .header-contacts {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .hide-on-mobile {
        display: none;
    }
}
