.flex {
    display: flex;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.flex-col {
    flex-direction: column !important;
}

.responsive-container {
    display: flex;
    width: 100%;
    max-width: 1255px;
    align-self: center !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.responsive-direction {
    flex-direction: row;
}

.hide-on-desktop {
    display: none;
}

.text {
    padding-bottom: 30px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .hide-on-desktop {
        display: block;
    }

    .responsive-container {
        flex-wrap: wrap;
    }

    .responsive-direction {
        flex-direction: column;
    }
}


@media (max-width: 478px) {
    .header-contacts {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .hide-on-mobile {
        display: none;
    }
}

.resources-cards {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 2rem;
    color: white !important;
    align-items: stretch;
}

.gradient-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

.left-card {
    background-image: linear-gradient(#f06060, #f3b561);
}

.right-card {
    background-image: linear-gradient(#8dbeb2, #376258);
}

.card-content {
    padding: 3rem 3rem;
}

.gradient-card p {
    color: white !important;
}

.card-content .card-title {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 3rem;
}

.card-content .card-description {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 0px;
}

.card-icon {
    font-size: 2.5rem;
    padding: 0px 0.5rem;
}

.card-button {
    display: block;
    width: min-content;
    margin: 1rem 0px;
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 0.4rem;
    text-transform: uppercase;
}

.card-download-button {
    color: white;
    background-color: #f06060;
}

.card-tutoriales-button {
    color: black;
    background-color: white;
}



/* Mobile styles */
@media (max-width: 768px) {
    .card-content {
        padding: 2rem 2.5rem;
    }
}
