.flex {
    display: flex;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.flex-col {
    flex-direction: column !important;
}

.responsive-container {
    display: flex;
    width: 100%;
    max-width: 1255px;
    align-self: center !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.responsive-direction {
    flex-direction: row;
}

.hide-on-desktop {
    display: none;
}

.text {
    padding-bottom: 30px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .hide-on-desktop {
        display: block;
    }

    .responsive-container {
        flex-wrap: wrap;
    }

    .responsive-direction {
        flex-direction: wrap;
    }
}


@media (max-width: 478px) {
    .header-contacts {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .hide-on-mobile {
        display: none;
    }
}

.resources-cards {
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
    color: white !important;    
}

.gradient-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem;
    border-radius: 1rem;
    background-image: linear-gradient(#f06060, #f3b561);
}

.gradient-card p {
    color: white !important;    
}

.gradient-card .card-title {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -2.2px;
    line-height: 3rem;
}

.gradient-card .card-description {
    font-size: 1.1em;
    font-weight: 600;
    padding: 1rem 0px;
}
